[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"kivy[sdl2]" = "*"
"kivy[glew]" = "*"
cython = "*"
kivymd = "*"
vdf = "*"

[dev-packages]
isort="*"
pylint="*"
flake8="*"
black="*"
twine="*"
wheel="*"

[requires]
python_version = "3.11"
