[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"kivy[sdl2]" = "*"
"kivy[glew]" = "*"
cython = "*"
kivymd = "*"

[dev-packages]

[requires]
python_version = "3.11"
